.main {
  display: flex;
  position: relative;
  height: calc(100vh - 35px); /* 35px to account for taskbar */
  margin: 0;
  flex-direction: column;
  font-family: 'Tamzen', sans-serif;
}

.main-item {
  position: relative;
  height: 25px;
  width: calc(100% - 8px);
  top: 4px;
  left: 50%;
  margin-left: calc(-50% + 4px);
}

.border {
  box-shadow: 0 0 0 1px #222020 inset,
              0 0 0 3px #32302c inset,
              0 0 0 5px #222020 inset;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  background-repeat: repeat;
  background-image: url('src/assets/images/pixmaps/navbar-tile.png');
  box-shadow: 0 -1px 0 0 #5c6057 inset;
  z-index: 10;
  /* gap: 40px; */
}

.navbar-text {
  display: flex;
  height: 28px;
  left: 50%;
  font-size: 15px;
  color: #e4e3d5;
  align-items: center;
  position: absolute;
  transform: translate(-50%);
  user-select: none;
}

.navbar-buttons {
  display: flex;
  width: 90px;
  align-items: center;
  justify-content: center;
}

.navbar-buttons input {
  max-height: 31%;
  padding: 8px;
  cursor: pointer;
}

.navbar-buttons input:hover {
  opacity: 0.3;
}

.content {
  /* padding: 100px 0 100px 0; */
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  /* flex-direction: column; */
  background-color: #1d1f21;
  /* background-image: url(''); */
  /* background-repeat: repeat; */
  /* background-size: auto; */
  -ms-overflow-style: none;  /* ie & edge */
  scrollbar-width: none;  /* firefox */
}
