<div *ngIf="!minimised"
     class="main border"
     [ngClass]="{'border': maximised,
            'border-small': !maximised}">
    <div class="navbar main-item">
        <div class="navbar-text">{{title}}</div>
        <div class="navbar-buttons">
            <input type="image"
                   src="assets/icons/tb-minimise.png"
                   (click)="minimiseWindow()">
            <input type="image"
                   src="assets/icons/tb-maximise.png"
                   (click)="toggleResize()">
            <input type="image"
                   src="assets/icons/tb-close.png"
                   (click)="destroyWindow()">
        </div>
    </div>
    <div class="content main-item">
        <ng-content></ng-content>
    </div>
</div>
