<div *ngIf="!minimised && !closed"
     class="border"
     [ngClass]="{'position-centre': !maximised && _position == 'position-centre',
                 'position-right': !maximised && _position == 'position-right',
                 'focus': focus}"
     (click)="grabFocus()">
    <div class="main">
    <div class="navbar main-item">
        <div class="navbar-text">{{_title}}</div>
        <div class="navbar-buttons">
            <input type="image"
                   src="assets/icons/tb-minimise.png"
                   (click)="toggleMinimise()">
            <input type="image"
                   src="assets/icons/tb-maximise.png"
                   (click)="toggleResize()">
            <input type="image"
                   src="assets/icons/tb-close.png"
                   (click)="toggleClose()">
        </div>
    </div>
    <div class="content main-item">
        <ng-content></ng-content>
    </div>
    </div>
</div>
