<div *ngIf="!minimised && !closed"
     class="border"
     [ngClass]="{'position-centre': !maximised && _position == 'position-centre',
                 'position-right': !maximised && _position == 'position-right',
                 'focus': focus}"
     (click)="getFocus()">
    <div class="main">
    <div class="navbar main-item">
        <div class="navbar-text">{{_title}}</div>
        <div class="navbar-buttons">
            <span class="nb-minimise"
                  (click)="toggleMinimise()">
            </span>
            <span class="nb-maximise"
                  (click)="toggleResize()">
            </span>
            <span class="nb-close"
                  (click)="toggleClose()">
            </span>
        </div>
    </div>
    <div class="content main-item">
        <ng-content></ng-content>
    </div>
    </div>
</div>
