<div class="taskbar">
        <div class="start-button">
            <span>></span>
            <div class="start-menu-container">
                <div class="start-menu" #startMenu>
                    <div *ngFor="let window of windowList">
                        <div class="start-menu-item"
                             (click)="startMenuPress(window)">
                            <img [src]="window.taskbarIcon">
                            <span>{{window._title}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="iconman">
        <div *ngFor="let window of windowList">
            <div *ngIf="!window.closed"
                 class="iconman-button"
                 [ngClass]="{'iconman-button-active': !window.minimised && window.focus}"
                 (click)="iconmanPress(window)">
                <img [src]="window.taskbarIcon">
                <span>{{window._title}}</span>
            </div>
        </div>
    </div>
</div>
