<div class="desktop"
     (click)="clearHighlight()">
    <div class="icon-container"
         (click)="$event.stopPropagation()">
        <div *ngFor="let window of windowList"
             class="desktop-icon"
             (click)="window.toggleHighlight()"
             (dblclick)="doubleClick(window)">
            <img [src]="window.desktopIcon">
            <span [ngClass]="{'desktop-icon-highlight': window.highlight}">
                {{window._title}}
            </span>
        </div>
    </div>
</div>
