:host {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    font-family: 'Tamzen', sans-serif;
}

.desktop {
    display: flex;
    width: 100%;
    background-image: url('src/assets/images/bg-sunset-top.png'),
                      url('src/assets/images/bg-sunset-bottom.png');
    background-position: left top, left bottom;
    background-repeat: repeat-x;
    background-size: auto;
    background-attachment: fixed;
    background-color: #7f84a3;
}

.icon-container {
    margin: 30px 0 0 20px;
    max-width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    image-rendering: pixelated;
}

.desktop-icon {
    display: flex;
    height: 102px;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    font-size: 16px;
    text-shadow: 1px 1px #fffefe;
    text-align: center;
    user-select: none;
}

.desktop-icon img {
    max-width: 80%;
}

.desktop-icon span {
    padding: 0px 4px;
}

.desktop-icon-highlight {
    background: rgba(4, 4, 252, 0.3);
    color: #fffefe;
    outline: 1px dotted rgba(255, 254, 254, 0.5);
    text-shadow: none;
}
