<div class="main">
    <div class="body">
        <div class="cli-line-container" #cli>
            <div *ngFor="let command of inputCommands"
                 class="cli-line">
              <!-- <span class="directory">{{directory}}</span> -->
                <span [ngClass]="{'ri-terminal-arrow': commands.includes(command),
                                  'ri-terminal-x': !commands.includes(command)}">
                </span>
                <span class="command">{{command}}</span>
            </div>

        </div>
        <div class="cli-line">
          <!-- <span class="directory">{{directory}}</span> -->
            <span class="ri-terminal-arrow"></span>
            <span #input
                  class="input command"
                  role="textbox"
                  contenteditable
                  (keydown.enter)="onEnter(input)">
            </span>
            <span class="caret"></span>
        </div>
    </div>
</div>
