:host {
    display: flex;
    flex: 1 1 auto;
}

.main {
    display: flex;
    flex: 1 1 auto;
    height: 100%;
    flex-direction: column;
}

.body {
    padding: 15px 0 10px 0;
    display: flex;
    flex: 1 1 auto;
    position: relative;
    font-family: 'Tamzen', sans-serif;
    background-color: rgba(40, 40, 40, 0.8);
    -ms-overflow-style: none;  /* ie & edge */
    scrollbar-width: none;  /* firefox */
}
