<div class="main">
    <div class="body">
        <div class="cli-body" #cliBody>
            <div *ngFor="let line of lines"
                 class="cli-command">
                <span class="arrow"
                      [ngClass]="{'ri-terminal-arrow': commandList.includes(line),
                                  'ri-terminal-x': !commandList.includes(line)}">
                </span>

                <span class="command">{{line}}</span>
            </div>

        </div>
        <div class="cli-input-line">
            <span class="arrow ri-terminal-arrow"></span>
            <span #cliInput
                  class="input command"
                  role="textbox"
                  contenteditable
                  (keydown.enter)="onEnter(cliInput)">
            </span>
            <span class="caret"></span>
        </div>
    </div>
</div>
