<div class="main">
    <div class="body">
        <div class="cli-body" #cliBody>
            <div *ngFor="let line of lines"
                 class="cli-command">
                <span class="arrow"></span>
                <span>{{line}}</span>
            </div>

        </div>
        <div class="cli-input">
            <span class="arrow"></span>
            <span #cliInput
                  class="input"
                  role="textbox"
                  contenteditable
                  (keyup.enter)="onEnter(cliInput)">
            </span>
            <span class="caret"></span>
        </div>
    </div>
</div>
