@font-face {
  font-family: 'Terminus';
  src: url('../../assets/fonts/Terminus.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.body {
    height: 100%;
    width: 100%;
    color: #fff;
    font-family: 'Terminus';
    font-weight: 1000;
    position: absolute;
    background: #000;
    z-index: 10;
    overflow-x: hidden;
}

.command-container {
    padding: 10px 10px 0 10px;
}

.command {
    display: none;
    user-select: none;
    white-space: nowrap;
    color: #d6d6d6;
    font-size: 0;
}

.command span {
    font-size: 16px;
}

.show {
    display: block;
}

.ok {
    display: inline-block;
    min-width: 80px;
    padding-right: 5px;
    text-align: center;
}
