<div #body class="body">
    <div class="command-container">
        <div *ngFor="let command of commandList"
             class="command"
             [ngClass]="{'show': !command.hidden}">
            <span class="ok">
                <span *ngIf="command.ok"
                      style="color: #fff">
                    <span style="margin-right: 18px">[</span>
                    <span style="color: #4af626">OK</span>
                    <span style="margin-left: 18px">]</span>
                </span>
            </span>
            <span>{{command.pre}} </span>
            <span style="color: #fff">{{command.item}}</span>
            <span>{{command.end}}</span>
        </div>
    </div>
</div>
