@font-face {
  font-family: 'Tamzen';
  src: url('src/assets/fonts/Tamzen10x20r.ttf') format('truetype'),
       url('src/assets/fonts/Tamzen10x20r.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

/* --- scrollbar --- */
html {
  -ms-overflow-style: none;  /* ie & edge */
  scrollbar-width: none;  /* firefox */
}

html::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  background-color: #7f84a3;
}
